<div class="row justify-content-center">
    <div class="col-12">
        <div class="card">
            <div class="card-block text-center">
                <h4>This is the TeamsComponent</h4>
                <h5>This component was defined from the /teams path in <b>app.routing</b></h5>
            </div>
        </div>
    </div>
    <div class="col-10" style="padding-top: 15px;">
        <!--outlet for teams.routing-->
        <!-- /teams/childRoute -->
        <router-outlet></router-outlet>
    </div>
</div>
